<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FCC: Image Search Abstraction Layer</h1>
         <h3>User Story: I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</h3>
         <h3>User Story: I can paginate through the responses by adding a <code>?offset=2</code> parameter to the URL.</h3>
         <h3>User Story: I can get a list of the most recently submitted search strings.</h3>
         <h4>Usage: search images</h4>
         <code>https://easy-road.glitch.me/image/SEARCHTERM?offset=0</code>
         <h4>Usage: browse recent search</h4>
         <code>https://easy-road.glitch.me/last</code>
      </div>
     
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
